<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<meta charset="utf-8" />
	<title>{{$web_name}}</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	<!-- BEGIN PAGE LEVEL STYLES -->
	<link href="/statics/media/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
	<link href="/statics/media/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>
	<link href="/statics/media/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
	<link href="/statics/media/css/style-metro.css" rel="stylesheet" type="text/css"/>
	<link href="/statics/media/css/style.css" rel="stylesheet" type="text/css"/>
	<link href="/statics/media/css/style-responsive.css" rel="stylesheet" type="text/css"/>
	<link href="/statics/media/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>
	<link href="/statics/media/css/uniform.default.css" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" type="text/css" href="/statics/media/css/select2_metro.css" />
	<link rel="stylesheet" href="/statics/media/css/DT_bootstrap.css" />
	<!-- END PAGE LEVEL STYLES -->

	<script type="text/javascript" src="/statics/media/js/ckeditor/ckeditor.js"></script>
	{{include file='../../common/importAll.html'}}
	<link rel="shortcut icon" href="/statics/media/image/favicon.ico" />
</head>
<!-- END HEAD -->
<body class="page-header-fixed">
	{{include file='../../common/header.html'}}
	<!-- BEGIN CONTAINER -->
	<div class="page-container">
		{{include file='../../common/sidebar.html'}}
		<!-- BEGIN PAGE -->
		<div class="page-content">
			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<div id="portlet-config" class="modal hide">
				<div class="modal-header">
					<button data-dismiss="modal" class="close" type="button"></button>
					<h3>Widget Settings</h3>
				</div>
				<div class="modal-body">
					Widget settings form goes here
				</div>
			</div>
			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<!-- BEGIN PAGE CONTAINER-->
			<div class="container-fluid">
				<!-- BEGIN PAGE HEADER-->
				<div class="row-fluid">
					<div class="span12">
						<!-- BEGIN STYLE CUSTOMIZER -->
						<div class="color-panel hidden-phone">
							<div class="color-mode-icons icon-color"></div>
							<div class="color-mode-icons icon-color-close"></div>
							<div class="color-mode">
								<p>THEME COLOR</p>
								<ul class="inline">
									<li class="color-black current color-default" data-style="default"></li>
									<li class="color-blue" data-style="blue"></li>
									<li class="color-brown" data-style="brown"></li>
									<li class="color-purple" data-style="purple"></li>
									<li class="color-grey" data-style="grey"></li>
									<li class="color-white color-light" data-style="light"></li>
								</ul>
								<label>
									<span>Layout</span>
									<select class="layout-option m-wrap small">
										<option value="fluid" selected>Fluid</option>
										<option value="boxed">Boxed</option>
									</select>
								</label>
								<label>
									<span>Header</span>
									<select class="header-option m-wrap small">
										<option value="fixed" selected>Fixed</option>
										<option value="default">Default</option>
									</select>
								</label>
								<label>
									<span>Sidebar</span>
									<select class="sidebar-option m-wrap small">
										<option value="fixed">Fixed</option>
										<option value="default" selected>Default</option>
									</select>
								</label>
								<label>
									<span>Footer</span>
									<select class="footer-option m-wrap small">
										<option value="fixed">Fixed</option>
										<option value="default" selected>Default</option>
									</select>
								</label>
							</div>
						</div>
						<!-- END BEGIN STYLE CUSTOMIZER -->
						<h3 class="page-title">
							博客分类修改
							<small>Background management system</small>
						</h3>
						<ul class="breadcrumb">
							<li>
								<i class="icon-home"></i>
								<a>系统菜单</a>
								<span class="icon-angle-right"></span>
								<a href="/Admin_MyUser/index">博客分类管理</a>
							</li>
						</ul>
					</div>
				</div>
				<!-- END PAGE HEADER-->
				<!-- BEGIN PAGE CONTENT-->
				<div class="row-fluid">
					<div class="span12">
						<!-- BEGIN SAMPLE FORM PORTLET-->
						<div class="portlet box blue">
							<div class="portlet-title">
								<div class="caption"><i class="icon-reorder"></i>博客分类修改</div>
								<div class="tools">
									<a href="javascript:;" class="collapse"></a>
									<!--<a href="#portlet-config" data-toggle="modal" class="config"></a>-->
									<a href="javascript:;" class="reload"></a>
									<a href="javascript:;" class="remove"></a>
								</div>
							</div>
							<div class="portlet-body form">
								<!-- BEGIN FORM-->
								<form action="/Admin_MyBlogArticle/add" method="post" class="form-horizontal" enctype="multipart/form-data" >
									<div class="control-group">
										<label class="control-label">标题：</label>
										<div class="controls">
											<input type="hidden" name="article_id" value="{{$article['article_id']}}"/>
											<input type="text" name="article_title" value="{{$article['article_title']}}" placeholder="请输入内容标题，最少2位字符" minlength="2" maxlength="48" class="span6 m-wrap" />
											<span class="help-inline">请输入2～18位非特殊字符</span>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label">博客分类：</label>
										<div class="controls">
											<select class="span6 select2" id="select2_sample1" name="channel_id" data-placeholder="Choose a Category" >
												{{foreach $channel as $v}}
												{{if $article['channel_id']==$v['channel_id']}}
												<option value="{{$v['channel_id']}}" selected>{{$v['channel_name']}}</option>
												{{else}}
												<option value="{{$v['channel_id']}}">{{$v['channel_name']}}</option>
												{{/if}}
												{{/foreach}}
											</select>
											<span class="help-inline">&nbsp;请选择博客分类</span>
										</div>
									</div>

									<div class="control-group">
										<label class="control-label">标签：</label>
										<div class="controls">
											{{foreach $label as $v}}
											<input type="checkbox" class="toggle" name="label_id[]" value="{{$v['label_id']}}" {{label_id($v['label_id'],$article['label_id'])}} /> <span class="help-inline">{{$v['label_name']}}</span>
											{{/foreach}}
										</div>
									</div>
									<div class="control-group">
										<label class="control-label"> 关键字：</label>
										<div class="controls">
											<input class="span6 m-wrap" type="text" name="article_keywords" value="{{$article['article_keywords']}}" placeholder="请输入关键字" />
											<span class="help-inline">请输入关键字</span>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label"> 描述：</label>
										<div class="controls">
											<textarea class="span6 m-wrap" name="article_description" id="" cols="30" rows="3" placeholder="请输入描述">{{$article['article_description']}}</textarea>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label"> 作者：</label>
										<div class="controls">
											<input class="span6 m-wrap" type="text" name="article_editor" value="{{$article['article_editor']}}" placeholder="请输入作者" />
											<span class="help-inline">请输入作者</span>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label"> 内容：</label>
										<div class="controls">
											<textarea id="content123" name="article_content" >{{$article['article_content']}}</textarea>
											<script type="text/javascript">
												CKEDITOR.replace('article_content', {
													toolbar: [
														['Source'],
														['Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Print', 'SpellChecker', 'Scayt'],
														['Undo', 'Redo', '-', 'Find', 'Replace', '-', 'SelectAll', 'RemoveFormat'],
														['BidiLtr', 'BidiRtl'],
														'/', ['Bold', 'Italic', 'Underline', 'Strike'],
														['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', 'Blockquote', 'CreateDiv'],
														['JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock'],
														['Link', 'Unlink', 'Anchor'],
														['Image', 'SpecialChar', 'Table'],
														'/', ['Styles', 'Format', 'Font', 'FontSize'],
														['TextColor', 'BGColor'],
														['Maximize', 'ShowBlocks']
													]
												});
											</script>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label"> 图片：</label>
										<div class="controls">
											<input type="file" name="pic_url" style="border:1px solid red;" class="" value=""/>
											{{if !empty($article['pic_url'])}}<span class="help-inline">已上传图片：</span><img src="{{$article['pic_url']}}" height="100px" width="100px">{{/if}}
										</div>
									</div>
									<div class="control-group">
										<label class="control-label"> 原文链接：</label>
										<div class="controls">
											<input class="span6 m-wrap" type="text" name="article_url" value="{{$article['article_url']}}" placeholder="请输入原文链接" />
											<span class="help-inline">请输入原文链接</span>
										</div>
									</div>
									{{if $login_user['user_id']==1}}
									<div class="control-group">
										<label class="control-label"> 设置时间：</label>
										<div class="controls">
											<input class="span6 m-wrap" type="date" name="addtime" value="{{date('Y-m-d',$article['addtime'])}}" />
											<span class="help-inline">设置文章时间</span>
										</div>
									</div>
									{{/if}}
									<div class="form-actions">
										<button type="submit" class="btn blue">Submit</button>
										<button type="button" class="btn">Cancel</button>
									</div>
								</form>
								<!-- END FORM-->
							</div>
						</div>
						<!-- END SAMPLE FORM PORTLET-->
					</div>
				</div>
				<!-- END PAGE CONTENT-->
			</div>
			<!-- END PAGE CONTAINER-->
		</div>
		<!-- END PAGE -->
	</div>
	<!-- END CONTAINER -->
	{{include file='../../common/footer.html'}}
	<!-- BEGIN CORE PLUGINS -->
	{{include file='../../common/importBottomAll.html'}}
	<!-- END CORE PLUGINS -->
	<!-- BEGIN PAGE LEVEL PLUGINS -->
	<script type="text/javascript" src="/statics/media/js/select2.min.js"></script>
	<script type="text/javascript" src="/statics/media/js/jquery.dataTables.js"></script>
	<script type="text/javascript" src="/statics/media/js/DT_bootstrap.js"></script>
	<!-- END PAGE LEVEL PLUGINS -->
	<!-- BEGIN PAGE LEVEL SCRIPTS -->
	<script src="/statics/media/js/app.js"></script>
	<script src="/statics/media/js/table-editable.js"></script>
	<script>
		jQuery(document).ready(function() {
			App.init();
			TableEditable.init();
			Setsidebarfun.init();
		});
	</script>
</body>
</html>