<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>{{$article['article_title']}}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="{{$article['article_keywords']}}" name="keywords" />
    <meta content="{{$article['article_description']}}" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="/statics/media/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/statics/media/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="/statics/media/css/style-metro.css" rel="stylesheet" type="text/css"/>
    <link href="/statics/media/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/statics/media/css/style-responsive.css" rel="stylesheet" type="text/css"/>
    <link href="/statics/media/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>
    <link href="/statics/media/css/uniform.default.css" rel="stylesheet" type="text/css"/>
    <link href="/statics/media/css/jquery.fancybox.css" rel="stylesheet" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="/statics/media/css/news.css" rel="stylesheet" type="text/css"/>
    <link href="/statics/media/css/blog.css" rel="stylesheet" type="text/css"/>
    <link href="/statics/media/css/search.css" rel="stylesheet" type="text/css"/>
    <link href="/statics/media/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>
    <!-- END PAGE LEVEL STYLES -->
    <link rel="shortcut icon" href="/statics/media/image/favicon.ico" />
</head>
<body class="body-news-1">
<div class="row-fluid">
    <div class="news-Navigation">
        <div class="new-boke"><h3><a href="/" target="_blank">延江华的博客</a></h3></div>
        <div class=" search-default" style="">
            <form class="form-search" action="/search" method="get">
                <div class="chat-form">
                    <div class="input-cont">
                        <input type="text" name="wd" placeholder="Search..." class="m-wrap" />
                    </div>
                    <button type="submit" class="btn green">
                        <i class="m-icon-swapright m-icon-white"></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="about-me"><h3><a href="/about" target="_blank">关于我</a></h3></div>
        <div class="clear"></div>
    </div>
</div>
<!-- BEGIN PAGE CONTENT-->
<div class="row-fluid" style="width: 90%;margin: 0 auto;">
    <div class="span12 news-page blog-page">
        <div class="row-fluid">
            <div class="span8 blog-tag-data">
                <h1>{{$article['article_title']}}</h1>
                {{if $article['pic_url']!=$server_url and !empty($article['pic_url'])}}
                <img src="{{$article['pic_url']}} " alt="" style="height: 300px;width: 730px;">
                {{else}}
                {{if $article['channel_id']==1}}
                <img src="/statics/media/image/phparticle.jpg" alt="" style="height: 300px;width: 730px;">
                {{elseif $article['channel_id']==2}}
                <img src="/statics/media/image/linux-article.jpeg" alt="" style="height: 300px;width: 730px;">
                {{elseif $article['channel_id']==3}}
                <img src="/statics/media/image/mysql-article.jpg" alt="" style="height: 300px;width: 730px;">
                {{elseif $article['channel_id']==4}}
                <img src="/statics/media/image/js-article.jpg" alt="" style="height: 300px;width: 730px;">
                {{elseif $article['channel_id']==5}}
                <img src="/statics/media/image/http-article.jpg" alt="" style="height: 300px;width: 730px;">
                {{elseif 2==1}}

                {{else}}
                <img src="/statics/media/image/article.jpg" alt="" style="height: 300px;width: 730px;">
                {{/if}}
                {{/if}}
                <div class="row-fluid">
                    <div class="span6">
                        <ul class="unstyled inline blog-tags">
                            <li>
                                <i class="icon-tags"></i>
                                <a href="#">{{$article['label_name']}}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="span6 blog-tag-data-inner">
                        <ul class="unstyled inline">
                            <li><i class="icon-calendar"></i>{{date('Y-m-d',$article['addtime'])}}</li>
                            <li><i class="icon-comments"></i>  阅读量： {{$article['article_readnumber']}}</li>
                        </ul>
                    </div>
                </div>
                <div class="news-item-page">
                    {{$article['article_content']}}
                </div>
                <hr>
            </div>
            <div class="span4">
                <h2>文章分类</h2>
                <div class="top-news">
                    {{if !empty($channel_lei)}}
                    {{foreach $channel_lei as $key=>$value}}
                    <a href="/channel/{{$value['channel_id']}}.html" class="btn {{if $key%4==0}}red{{elseif $key%4==1}}green{{elseif $key%4==2}}yellow{{elseif $key%4==3}}blue{{/if}}">
                        <span>{{$value['channel_name']}}</span>
                        <em>{{$value['channel_note']}}</em>
                        <i class="icon-briefcase top-news-icon"></i>
                    </a>
                    {{/foreach}}
                    {{/if}}
                </div>
                <div class="space20"></div>
                <h2>推荐文章</h2>
                <div class="blog-twitter">
                    {{if !empty($recommend)}}
                    {{foreach $recommend as $key=>$value}}
                    <div class="blog-twitter-block">
                        <a href="/article/{{$value['article_id']}}.html">{{$value['article_title']}}</a>
                        <p>{{$value['article_description']}}</p>
                        <span>{{date('Y-m-d',$value['addtime'])}}</span>
                        <i class="icon-twitter blog-twiiter-icon"></i>
                    </div>
                    {{/foreach}}
                    {{/if}}
                </div>
                <div class="space20"></div>

            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->

{{include file='../common/footer.html'}}

</body>
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?6763defcdc15418630b11792e1037ea3";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<script src="/statics/media/js/jquery-1.10.1.min.js" type="text/javascript"></script>
<script src="/statics/media/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="/statics/media/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
<script src="/statics/media/js/bootstrap.min.js" type="text/javascript"></script>
<!--[if lt IE 9]>
<script src="/statics/media/js/excanvas.min.js"></script>
<script src="/statics/media/js/respond.min.js"></script>
<![endif]-->
<script src="/statics/media/js/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="/statics/media/js/jquery.blockui.min.js" type="text/javascript"></script>
<script src="/statics/media/js/jquery.cookie.min.js" type="text/javascript"></script>
<script src="/statics/media/js/jquery.uniform.min.js" type="text/javascript" ></script>
<!-- END CORE PLUGINS -->
<script src="/statics/media/js/app.js"></script>
<script>
    jQuery(document).ready(function() {
        App.init();
    });
    $.ajax({
        url: "/article/read_add_ajax/?id={{$article['article_id']}}",
        method: 'post',
        dataType: 'json',
        data: {},
        success:function () {
        }
    });
</script>
<!-- END JAVASCRIPTS -->
</html>